{% macro render_item(item, count, show_form=False) %}
<div class="card">
    <div class="content">
        <p>
            <span>
                Название: {{ item['product_name'] }}
            </span><br>
            <span>
                Категория: {{ item['product_category'] }}
            </span><br>
            <span>
                Стоимость за единицу: {{ item['unit_cost'] }}
            </span><br>
            {% if not show_form %}
            <span>
                Количество: {{ item['number'] }}
            </span>
            {% endif %}
        </p>
        {% if show_form %}
        <div>
            <form action="" method="post">
                <input class="five" type="submit" value="Добавить">
                <input type="hidden" name="product_id" value="{{ item['product_id'] }}">
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}