<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>

<form action="" method="get">
    Выберите диапазон дат, в которые выполнялись заказы.
    <div>
        <label for="begin">Начало диапазона:
            <input type="date" name="begin" required>
        </label>
    </div>

    <div>
        <label for="end">Конец диапазона:
            <input type="date" name="end" required>
        </label>
    </div>

    <input type="submit" value="Получить данные">
</form>

<div>
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Назад</a>
        </li>
        <li>
            <a href="{{ url_for('exit') }}">Выход</a>
        </li>
    </ul>
</div>

</body>
</html>