<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>

<form action="" method="get">
    <div>
        <label for="cost">Введите ID товара:
            <input type="text" name="product_id" required>
        </label>
    </div>

    <input type="submit" value="Получить данные">
</form>
<div>
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Назад</a>
        </li>
        <li>
            <a href="{{ url_for('exit') }}">Выход</a>
        </li>
    </ul>
</div>
</body>
</html>