<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>

<body>
    <div>
        <form action="" method="get">
            <label for="month">Введите интересующий вас месяц:
                <input margin-bottom="5px" type="text" name="month" required>
            </label><br>
            <label for="year">Введите интересующий вас год:
                <input margin-bottom="5px" type="text" name="year" required>
            </label><br>
            <input margin-bottom="5px" type="submit" value="Получить данные">
        </form>
    </div>
    <div>
        <ul>
            <li>
                <a href="{{ url_for('query.get_bp_index') }}">Меню запросов</a>
            </li>
            <li>
                <a href="{{ url_for('index') }}">Главное меню</a>
            </li>
            <li>
                <a href="{{ url_for('exit') }}">Выход</a>
            </li>
        </ul>
    </div>
</body>

</html>