<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_query_result.css') }}">
    <title>Update table</title>
</head>

<body>
    <div>
        <table class="customers">
            <thead>
                {% for item in heads %}
                <th>{{ item }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for dictionary in items %}
                <tr>
                    <td> {{ dictionary['product_name']}} </td>
                    <td> {{ dictionary['product_category']}} </td>
                    <td> {{ dictionary['unit_cost']}} </td>
                    <td>
                        <form action="" method="post">
                            <input type="submit" value="Удалить">
                            <input type="hidden" name="product_id" value="{{ dictionary['product_id'] }}">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="buttons" align="center">
            <a class="two" href="{{ url_for('update.add') }}">Добавить товар</a>
            <a class="three" href="{{ url_for('index') }}">Главное меню</a>
            <a class="four" href="{{ url_for('exit') }}">Выдох из системы</a>
        </div>
    </div>
</body>

</html>