<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>

<body>
    <h1>Главная страница</h1>
    <p>Меню</p>
    <ul>
        <li>
            <a href="{{ url_for('auth.login_page') }}">Аутентификация</a>
        </li>
        <li>
            <a href="{{ url_for('query.get_bp_index') }}">Меню запросов</a>
        </li>
        <li>
            <a href="{{ url_for('update.print_and_delete') }}">Изменение таблицы заказов</a>
        </li>
        <li>
            <a href="{{ url_for('cart.cart_index') }}">Корзина</a>
        </li>
        <li>
            <a href="{{ url_for('exit') }}">Выход</a>
        </li>
    </ul>
</body>

</html>